*{
  margin: 0;
  padding:0;
  box-sizing: border-box; 
  overflow: hidden;
}

body {
  background-color: #16afd8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

header {  
  width: 960px;
  height: 287px;
  background-image: url(/clasecssanimaciones/repaso_html/img/splash.jpg);
  background-repeat: no-repeat;
  
}

.header__information {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 15%;
}

.main {
  width: 960px;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-color: #0879b1;
  margin-top: 0%;
  margin-left: 0;

}
.card__img {
  height: 65%;
  width: 85%;
}

.card__title {
  color: white;
}
.main__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 70%;
  border-right: #16afd8 thin solid;
}

footer {
  background-color: #0879b1;
  width: 960px;
  height: 35px;
}

.footer__form {
  display: flex;
  justify-content: space-evenly;
  padding: 0.3rem;
  font-size: .9rem;
  width: 100%;
  height: 40px;
}

.form__btn {
  text-transform: uppercase;
  padding: 0 1.5rem;
  border-radius: 7px;
  cursor: pointer;
}